.why-we-sction .all-skill .skill-item{
    padding-right: 20px;
    margin-bottom: 40px;
}
.why-we-sction .all-skill .skill-item h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color:  #245D51;
    margin-top: 20px;
}

.why-we-sction .all-skill .skill-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #808080;
}


@media screen and (max-width: 992px){
    .why-we-sction .all-skill .skill-item{
        text-align: center;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 768px){
    .why-we-sction .all-skill .skill-item h1{
        font-size: 18px;
        line-height: 25px;
    }
    .why-we-sction .all-skill .skill-item p{
        font-size: 12px;
        line-height: 25px;
    }
}
